<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Database </title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div class="container">
<h1 align="center">บันทึกข้อมูลบุคคล</h1>

<table class="table table-bordered">
      <thead>
        <tr>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
            <th>เบอร์โทร</th>
          <th>จัดการข้อมูล</th>
        </tr>
      </thead>
      <tbody>
        {% for row in datas %}
        <tr>
          <td>{{row.1}}</td>
          <td>{{row.2}}</td>
            <td>{{row.3}}</td>
          <td>
            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">แก้ไข</a>
            <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">ลบ</a>
          </td>
        </tr>
        <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">อัพเดทข้อมูลของท่าน</h4>
              </div>
              <div class="modal-body">
                <form action="/update" method="POST">
                  <div class="form-group">
                    <label>ชื่อ:</label>
                    <input type="hidden" name="id" value="{{row.0}}">
                    <input type="text" class="form-control" name="firstname" value="{{row.1}}">
                  </div>
                  <div class="form-group">
                    <label>นามสกุล:</label>
                    <input type="text" class="form-control" name="lastname" value="{{row.2}}">
                  </div>
                  <div class="form-group">
                    <label>เบอร์โทรศัพท์:</label>
                    <input type="text" class="form-control" name="phone" value="{{row.3}}">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">อัพเดท</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          </div>

          {% endfor %}
      </tbody>
    </table>

    <a href="/people" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg> เพิ่มรายชื่อใหม่ </a>
</div>

</body>
</html>